<footer class="footer">
	<div class="footer__container container">
		<div class="footer__main">
			<a href="#" class="footer__logo logo"><span>Love</span> & Apples</a>
			<ul class="footer__contacts">
				<li><a href="tel:+38675557755" class="footer-link"><span>+38 (067) 555 77 55</span></a></li>
				<li><a href="mailto:love&apples@gmail.com" class="footer-link"><span>love&apples@gmail.com</span></a></li>
				<li>
					<address>Київ, Україна</address>
				</li>
			</ul>
			<ul class="footer__social">
				<li><a href="#"></a></li>
				<li><a href="#"></a></li>
				<li><a href="#"></a></li>
				<li><a href="#"></a></li>
			</ul>
		</div>
		<div class="footer__inner">
			<div data-spollers="678" class="menu-footer">
				<button type="button" data-spoller class="menu-footer__title footer-title">Меню
					магазину</button>
				<ul class="menu-footer__list">
					<li><a href="#" class="footer-link">Каталог</a></li>
					<li><a href="#" class="footer-link">Акція</a></li>
					<li><a href="#" class="footer-link">Гарантія</a></li>
					<li><a href="#" class="footer-link">Оплата</a></li>
					<li><a href="#" class="footer-link">Доставка</a></li>
					<li><a href="#" class="footer-link">Контакти</a></li>
				</ul>
			</div>
			<div data-spollers="678" class="menu-footer">
				<button type="button" data-spoller class="menu-footer__title footer-title">Особистий
					кабінет</button>
				<ul class="menu-footer__list">
					<li><a href="#" class="footer-link">Мій кабінет</a></li>
					<li><a href="#" class="footer-link">Мої бажання</a></li>
					<li><a href="#" class="footer-link">Мій кошик</a></li>
					<li><a href="#" class="footer-link">Історія замовлень</a></li>
					<li><a href="#" class="footer-link">Мої картки</a></li>
					<li><a href="#" class="footer-link">Налаштування</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>