<header class="header">
	<div class="container">
		<div class="header__top">
			<nav class="header__menu menu">
				<ul class="menu__list">
					<li><a href="#" class="menu__link">Sale</a></li>
					<li><a href="#" class="menu__link">Warranty</a></li>
					<li><a href="#" class="menu__link">Payment</a></li>
					<li><a href="#" class="menu__link">Delivery</a></li>
					<li><a href="#" class="menu__link">Contacts</a></li>
				</ul>
			</nav>
			<div class="search">
				<button type="button" class="search__btn _icon-search"></button>
				<form class="search__form">
					<div type="button" class="search__icon _icon-search"></div>
					<input type="text" placeholder="Search" class="search__input">
				</form>
			</div>
			<div class="connection-header">
				<a href="tel:+38(098)0585377" class="connection-header__link">+1 (786) 777 7777</a>
				<button type="button" class="connection-header__callback">Order a call</button>
			</div>
			<button type="button" class="icon-menu"><span></span></button>
		</div>
		<div class="header__bottom">
			<div class="header__inner">
				<a href="#" class="header__logo logo"><span>Love</span> & Apples</a>
				<div class="catalog">
					<button type="button" class="catalog__btn _icon-catalog">Catalog</button>
				</div>
			</div>
			<ul class="lang-switcher-header">
				<li class="lang-switcher-header__item lang-switcher-header__item--active">EN</li>
				<li class="lang-switcher-header__item"><a href="#" class="lang-switcher-header__link">UA</a></li>
			</ul>
			<ul class="actions-header">
				<li class="actions-header__item">
					<a href="#" class="actions-header__link actions-header__link--favorite _icon-favorite"
						aria-label="Favorites"></a>
				</li>
				<li class="actions-header__item">
					<a href="#" class="actions-header__link actions-header__link--cart _icon-cart"
						aria-label="Shopping Cart"></a>
				</li>
				<li class="actions-header__item">
					<a href="#" class="actions-header__link actions-header__link--user _icon-user" aria-label="Account"></a>
				</li>
			</ul>
			<ul class="header__actions-mobile">
				<li><a href="#" class="_icon-user">Sign in</a></li>
				<li><a href="#" class="_icon-favorite">Favorites</a></li>
			</ul>
		</div>
	</div>
</header>