.slider-products {
	@include adaptiveValue("padding-bottom", 80, 40);
	&__title {
		@include adaptiveValue("font-size", 32, 24);
		line-height: 1.4;
		font-weight: 600;
		margin-bottom: rem(30);

		@media (max-width: $mob) {
			text-align: center;
		}
	}

	&__slider {
		overflow: hidden;
		padding: rem(15);
		margin: 0 rem(-15);
	}

	&__swiper {
		@include adaptiveValue("margin-bottom", 20, 10);
	}

	&__slide {
	}
}
.item-product {
	position: relative;
	padding: rem(10) rem(20) rem(20) rem(20);
	display: flex;
	flex-direction: column;
	height: 100%;
	box-shadow: 0 rem(5) rem(10) rgba(0, 0, 0, 0.1);
	transition: box-shadow var(--anim);

	&:hover {
		box-shadow: 0 rem(5) rem(15) rgba(0, 0, 0, 0.2);
	}
	&__label {
		position: absolute;
		z-index: 8;
		display: flex;
		flex-direction: column;
		top: rem(-5);
		right: rem(-5);
		flex: 0 0 rem(48);
		width: rem(48);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #ffffff;
		font-weight: 500;
	}

	&__label--top {
	}

	&__img {
	}

	&__title {
	}

	&__prices {
	}

	&__price {
	}

	&__price-old {
	}

	&__btn {
	}
}
